doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div
     div
       h1.profile-name
         | #{legos.firstname} #{legos.lastname}
       h2.profile-tagline
         | #{legos.tagline}
       p.profile-bio
         | #{legos.bio}
     each img in legos.imgSrc1
       div 
         img.imm(src = `/images/${img}`)